<h1 class="text-white text-2xl font-bold">Tabla de contactos</h1>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mt-2 max-h-full">
    @if(!contacts()){
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                @for (col of columns; track col) {
                <th>{{ col | titlecase }}</th>
                }
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @for (contact of contacts(); track contact.id) {
            <tr>
                @for (col of columns; track col) {
                <td>{{ contact[col] }}</td>
                }
                <td class="flex gap-2">
                    <app-get-specific-contact [contact]="contact"></app-get-specific-contact>
                    <app-update-contact [contact]="contact"></app-update-contact>
                    <app-delete-contact [contact]="contact"></app-delete-contact>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }@else {
        <h1 class="text-center p-5">No hay contactos para mostrar.</h1>
    }
</div>