<!-- <p>{{contact?.id}}</p>
<p>{{contact?.name}}</p>
<p>{{contact?.phone}}</p>
<p>{{contact?.email}}</p> -->
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-3xl font-bold">Información del contacto</h1>
            <div class="flex flex-col items-start mt-5 p-2">
                <h6>Id: <span class="text-amber-400">{{contact?.id}}</span></h6>
                <h6>Name: <span class="text-amber-400">{{contact?.name}}</span></h6>
                <h6>Phone: <span class="text-amber-400">{{contact?.phone}}</span></h6>
                <h6>Email: <span class="text-amber-400">{{contact?.email}}</span></h6>
            </div>
            <h1 class="text-xl font-bold mt-5">Solo para ver el router link</h1>
            <button routerLink="/home" class="btn btn-primary mt-5">volver</button>
        </div>
    </div>
</div>